* {
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(15 197 211);
  background-image: url('https://images.ctfassets.net/rxqefefl3t5b/5N2CHqjGjH6u5XRLQW0bHX/8ee1f45669fa9f748e4ed47248791806/BeachClub_Cabanas.jpg?fl=progressive&q=80');
  background-size: cover;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 112%;
  width: 100%;
}

form {
  font-weight: 500;
  max-width: 506px;
  width: 90%;
  height: 650px;
  background: #e9e3e0;
  margin: 18vh auto 0 auto;
  padding: 27px;
  border-radius: 9px;
  box-sizing: border-box;
  position: relative;
  bottom: 13px;
  opacity: 0.9;
}

h1 {
  margin: 0;
  text-align: center;
  color: rgb(15 197 211);
  font-size: 40px;
}

label {
  display: block;
  margin: 20px 0;
  color: rgb(15 197 211);
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: blueviolet;
  resize: none;
  border: none;
  border-bottom: 1px solid #e9e3e0;
}

input[type='text']:focus,
textarea:focus {
  border-bottom: 1px solid rgb(15 197 211);
}
textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #405699;
}
.center {
  text-align: center;
}
input[type='submit'] {
  margin-top: 30px;
  width: 90%;
  max-width: 200px;
  background: linear-gradient(to right, rgb(15 197 211), #405699);
  color: seashell;
  font-size: 17px;
  cursor: pointer;
  border-radius: 3px;
}
.error {
  color: red;
}
.error-border {
  border-bottom: 1px solid red;
}
#success {
  color: seagreen;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}
